# This is a basic workflow to help you get started with Actions
#
name: build lecture pdf

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push]

env:
 BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/seanhuang1228/saoaoi-codebook:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Main Compile Script
        run: |
          xelatex main.tex
          cp main.pdf pdf/codebook.pdf
      - name: Trust Directory
        run: |
          git config --global --add safe.directory ${GITHUB_WORKSPACE}
        # https://github.com/actions/checkout/issues/760
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: auto build - ${{ github.sha }}
          branch: build
          create_branch: true
          push_options: -f

